
$primary-color: #001C30;
$secondary-color : #176B87;
$third-color : #64CCC5;
$fourth-color : #DAFFFB;

.hide{
  visibility: hidden;
}

.bg-primary-color{
  background : $primary-color
}

.text-primary-color{
  color : $primary-color
}

.bg-secondary-color{
  background : $secondary-color
}

.text-secondary-color{
  color : $secondary-color
}

.bg-third-color{
  background : $third-color
}

.text-third-color{
  color : $third-color
}

.bg-fourth-color{
  background : $fourth-color
}

.text-fourth-color{
  color : $fourth-color
}